<%= render 'layouts/header' %>
<h1>Your Cars</h1>

<ul>
  <% if user_signed_in? %>
    <% current_user.cars.each do |car| %>
      <li><%= car.color %></li>
      <li><%= car.make %></li>
      <li><%= car.model %></li>
      <li><%= car.year %></li>
      <% if car.awards.any? %>
      <li>Awards:</li>
      <% end %>
        <% car.awards.each do |award| %>
          <li><%= award.title %></li>
          <li><%= award.year %></li>
          <li><%= award.description %></li>
          <%end%>
      <button class="btn btn-default"><%= link_to 'Edit', edit_car_path(car) %></button>
      <button class="btn btn-default"><%= link_to 'Delete', car,  :data => {:confirm => "You Sure?", :method => :delete}  %></button>
      <button class="btn btn-default"><%= link_to 'Add Award', new_car_award_path(car) %></button>

  <%end%>
<%end%>
</ul>

<% if user_signed_in? %>
  <button class="btn btn-default"><%=link_to "Add a car", new_user_car_path(current_user)%></button>
<%end%>
