<%= render 'layouts/header' %>
<h1>Your Cars:</h1>

<ul>
  <% if user_signed_in? %>
    <% @user.cars.each do |car| %>
    <h2> <%= "#{car.make} #{car.model}"%></h2>
    <h2> <%= car.year%></h2>
    <h2> <%= car.color %></h2>
      <% if car.awards.any? %>
      <h2>Awards:</h2>
      <% end %>
          <% car.awards.each do |award| %>
          <li><%= award.title %></li>
          <li><%= award.description %></li>
            <% if award.categories.any? %><br>
            <p>Categories:</p><br>
            <%end%>
              <% award.categories.each do |category| %>
              <li><%= category.name %></li>
          <%end%><br>
          <button class="btn btn-default"><%= link_to 'Delete Award', award,  :data => {:confirm => "You Sure?", :method => :delete}  %></button></li><br><br>
          <%end%>
      <button class="btn btn-default"><%= link_to 'Edit', edit_car_path(car) %></button>
      <button class="btn btn-default"><%= link_to 'Delete', car,  :data => {:confirm => "You Sure?", :method => :delete}  %></button>
      <button class="btn btn-default"><%= link_to 'Add Award', new_car_award_path(car) %></button>

  <%end%>
<%end%>
</ul>

<% if user_signed_in? %>
  <button class="btn btn-default"><%=link_to "Add a car", new_user_car_path(current_user)%></button>
<%end%>
