<%= render 'layouts/header' %>
<h1>Your Cars:</h1>
  <% if user_signed_in? %>
    <% @cars.each do |car| %>
    <div class="car-card">
      <h1> <%= link_to "#{car.make} #{car.model}", car_path(car)%></h1>
      <p> <%= car.year%></p>
      <p> <%= car.color %></p><br>
      <%= image_tag(car.image.url, :class => "car-image") if car.image.exists?%><br><br>
        <% if car.awards.any? %>
        <p>Awards:</p>
        <% end %>
            <% car.awards.each do |award| %>
            <p><%= award.title %></p>
            <p><%= award.description %></p>
              <% if award.categories.any? %>
              <p>Categories:</p>
              <%end%>
                <% award.categories.each do |category| %>
                <p><%= category.name %></p>
            <%end%>

            <button class="btn btn-default"><%= link_to 'Delete Award', car_award_path(award),  :data => {:confirm => "You Sure?", :method => :delete}  %></button>
            <br><br>
            <%end%>

        <button class="btn btn-default"><%= link_to 'Edit Car', edit_car_path(car) %></button>
        <button class="btn btn-default"><%= link_to 'Delete Car', car,  :data => {:confirm => "You Sure?", :method => :delete}  %></button>
        <button class="btn btn-default"><%= link_to 'Add Award', new_car_award_path(car) %></button>
      </div>
  <%end%>
<%end%>
<br>
<br>

<% if user_signed_in? %>
  <button class="btn btn-default"><%=link_to "Add a car", new_user_car_path(current_user)%></button>
<%end%>
<br>
<br>
<br>
<br>
