<%= render 'layouts/header' %>
<h1> Classic Car Collections' Truest Classics! </h1>

<% @cars.each do |car| %>
  <h2> <%= "#{car.make} #{car.model}" %></h2>
  <h2> <%= car.year%></h2>
  <h2> <%= car.color %></h2>
  <h2> <%= car.user.email %></h2>
  <br><br>
<% end %>
