<%= render 'layouts/header' %>
<h1> Classic Car Collections' Top Classics! </h1>

<% @cars.each do |car| %>
<div class="car-card">
  <h1> <%= link_to "#{car.make} #{car.model}", car_path(car)%></h1>
  <h2> <%= car.year%></h2>
  <h2> <%= car.color %></h2><br>
  <%= image_tag(car.image.url, :class => "car-image") if car.image.exists?%><br><br>
    <% if car.awards.any? %>
    <p>Awards:</p>
    <% end %>
        <% car.awards.each do |award| %>
        <p><%= award.title %></p>
        <p><%= award.description %></p>
          <% if award.categories.any? %>
          <p>Categories:</p>
          <%end%>
            <% award.categories.each do |category| %>
            <p><%= category.name %></p>
        <%end%>
        <%end%>

  </div>
<%end%>
