<%= render 'layouts/header' %>
<h1>All Cars:</h1>

<ul>
  <% if user_signed_in? %>
    <% @cars.each do |car| %>
    <h2> <%= link_to "#{car.make} #{car.model}", car_path(car)%></h2>
    <h2> <%= car.year%></h2>
    <h2> <%= car.color %></h2><br>
    <%= image_tag(car.image.url) if car.image.exists? %><br><br>

    <button class="btn btn-default"><%= link_to "Load Awards", car_awards_path(car), :class => "load_awards" %></button><br><br>

    <div class="awards">
      <ol>

      </ol>
    </div>

      <button class="btn btn-default"><%= link_to 'Edit Car', edit_car_path(car) %></button>
      <button class="btn btn-default"><%= link_to 'Delete Car', car,  :data => {:confirm => "You Sure?", :method => :delete}  %></button>
      <button class="btn btn-default"><%= link_to 'Add Award', new_car_award_path(car) %></button>

  <%end%>
<%end%>
</ul>

<% if user_signed_in? %>
  <button class="btn btn-default"><%=link_to "Add a car", new_user_car_path(current_user)%></button>
<%end%>
