<%= render 'layouts/header' %>
<h1>Your Cars:</h1>

<ul>
  <% if user_signed_in? %>
    <% @cars.each do |car| %>
    <h2> <%= "#{car.make} #{car.model}"%></h2>
    <h2> <%= car.year%></h2>
    <h2> <%= car.color %></h2><br>
    <%= image_tag(car.image.url) %><br><br>
      <% if car.awards.any? %>
      <h2>Awards:</h2>
      <% end %>
          <% car.awards.each do |award| %>
          <h3>-<%= award.title %></h3>
          <h4>-<%= award.description %></h4>
            <% if award.categories.any? %>
            <p>Categories:</p>
            <%end%>
              <% award.categories.each do |category| %>
              <h5>-<%= category.name %></h5>
          <%end%>

          <button class="btn btn-default"><%= link_to 'Delete Award', car_award_path(award),  :data => {:confirm => "You Sure?", :method => :delete}  %></button>
          <br><br>
          <%end%>

      <button class="btn btn-default"><%= link_to 'Edit Car', edit_car_path(car) %></button>
      <button class="btn btn-default"><%= link_to 'Delete Car', car,  :data => {:confirm => "You Sure?", :method => :delete}  %></button>
      <button class="btn btn-default"><%= link_to 'Add Award', new_car_award_path(car) %></button>

  <%end%>
<%end%>
</ul>

<% if user_signed_in? %>
  <button class="btn btn-default"><%=link_to "Add a car", new_user_car_path(current_user)%></button>
<%end%>
