<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= cars_path %>">All Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= "/classic" %>">The Classics</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= user_cars_path(current_user) %>">My Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= user_path(current_user) %>">My Profile</a>
        </li>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_session_path %>">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= user_facebook_omniauth_authorize_path %>">Sign in with Facebook</a>
        </li>
      <% end %>
    </div>
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="#">Classic Car Collections</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">

    </ul>
  </div>
</nav>

<% if user_signed_in? %>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <%= "Signed in as #{current_user.email}" %>
          </li>
      </ul>
  </div>
<% end %>
